@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@primary: #221; //#647A14; // #381492; // #970808; // #222; // #3E3175; // #9B4E00; //;
@secondary: #381492;
@mediaWidthThreshold: 650px;

.BorderBottom {
  border-bottom: solid 0.5em @secondary;
}

.BorderTop {
  border-top: solid 0.5em lighten(@secondary, 20%);
}

.spinning-wheel-design {
  font-family: 'Amatic SC', cursive;
  position: relative;
  min-height: 100vh;
  .App {
    min-height: 100vh;
    margin: auto;
    width: 80vw;
    max-width: 600px;
    @media(max-width: @mediaWidthThreshold){
      width: auto;
    }
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    z-index: 10;
  }
  .App-header {
    background-color: @primary;
    color: white;
    text-align: center;
    .BorderBottom;
    .App-title {
      font-size: 3em;
      padding: 1em;
      margin: 0;
    }
  }

  footer {
    color: white;
    font-size: 1em;
    background-color: @primary;
    text-align: center;
    > h4 {
      margin: 0;
      padding: 3em;
    }
    .BorderTop;
  }


  .rotate-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    background-color: black;
    svg {
      opacity: 0.5;
      stroke: black;
      fill: white;
      stroke-width: 0px;
    }
    .rotate {
      @keyframes wheel-spin {
        from {
          transform: rotate(190deg);
        }
        to {
          transform: rotate(550deg);
        }
      }
      margin-left: -1000%;
      width: 2000%;
      animation: wheel-spin infinite 4000s linear;
    }
  }

  .main-content {
    background-color: rgba(100,100,100,0.8);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(auto, 200px);
    @media(max-width: @mediaWidthThreshold) {
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(auto, 120px);
      grid-gap: 0.5em;
      padding: 0;
    }
  }

  .showcase {
    background-color: lighten(@primary,10%);
    transition: 0.5s;
    display: grid;
    vertical-align: middle;
    grid-template-rows: 1fr auto;
    @media(max-width: @mediaWidthThreshold) {
      grid-template-rows: 1fr;
      grid-template-columns: 2fr 3fr;
    }
    @media(min-width: @mediaWidthThreshold) {
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 2px 5px #666;
        cursor: pointer;
        z-index: 100;
      }
    }
    @media(max-width: @mediaWidthThreshold) {
      &:hover {
        margin-top: 0.2em;
        font-size: 1.3em;
      }
    }
    &:active {
      opacity: 0.8;
      transform: scale(1);
      transition: 0s;
    }
    .showcase-content {
      font-size: 0.8em;
      text-align: center;
      padding: 0.5em;
      font-family: sans-serif;
      background-size: cover;
      background-position: center;
      position: relative;
      p {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
    h4 {
      text-align: center;
      color: white;
      margin: auto;
      padding: 0.5em;
      @media(max-width: @mediaWidthThreshold) {
        font-size: 2em;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

