@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
html,
body {
  font-family: 'Amatic SC', cursive;
}
.app-wrapper {
  position: relative;
  min-height: 100vh;
}
.app-wrapper .App {
  min-height: 100vh;
  margin: auto;
  max-width: 500px;
  background-color: #ddddee;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  z-index: 10;
}
.App-header {
  background-color: #333366;
  color: white;
  text-align: center;
  padding: 0.5em;
}
.App-header h4 {
  padding: 0;
}
.App-header .App-title {
  font-size: 2.5em;
}
footer {
  color: white;
  font-size: 1em;
  background-color: #333366;
  text-align: center;
  padding: 0.5em;
}
.rotate-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  background-color: #080808;
}
.rotate-wrapper svg {
  opacity: 0.5;
  stroke: black;
  fill: #bbbbbb;
  stroke-width: 0px;
}
.rotate-wrapper .rotate {
  margin-left: -1000%;
  width: 2000%;
  animation: wheel-spin infinite 4000s linear;
}
@keyframes wheel-spin {
  from {
    transform: rotate(190deg);
  }
  to {
    transform: rotate(550deg);
  }
}
.main-content {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(auto, 200px);
}
.showcase {
  background-color: #ffffff;
  transition: 0.5s;
  display: grid;
  grid-template-rows: auto 1fr;
}
.showcase:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 5px #666;
  cursor: pointer;
}
.showcase:active {
  opacity: 0.8;
  transform: scale(1);
  transition: 0s;
}
.showcase .showcase-content {
  font-size: 0.8em;
  text-align: center;
  padding: 0.5em;
  font-family: sans-serif;
  background-size: cover;
  background-position: center;
  position: relative;
}
.showcase .showcase-content p {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.showcase h4 {
  text-align: center;
  color: white;
  padding: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #5555aa;
}
a {
  text-decoration: none;
}
